.h1 {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background: linear-gradient(to left, rgb(29, 29, 84), rgb(241, 241, 244));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px rgb(255, 255, 255);
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10rem;
}
