.contein {
  background-image: url("../../assets/fondo5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
